@media screen and (max-width:575px) {
    p {
        font-size: 2.5vw !important;
    }

    h1 {
        font-size: large !important;
    }

    h2 {
        font-size: medium !important;
    }

    .button-class {
        font-size: 2vw !important;
    }

    .box {
        padding: 3% !important;
        font-size: 2.5vw !important;
    }
}

html, body {
    font-family: 'Space Mono';
    font-size: 12px;
    height: 100%;
    margin: 0;
}

h1 {
    font-weight: bold;
    font-size: 2.5vw;
}

h2 {
    font-weight: bold;
    font-size: 2vw;
}

.navbar, .nav-link {
    background-color: #010400;
    font-family: 'Space Mono';
    font-size: medium;
    position: sticky;
    top: 0;
    overflow: hidden;
}

.nav-link:hover {
    opacity: 0.42;
}

.navbar li {
    display: inline;
    margin-right: 1vw;
    margin-left: 1vw;
    opacity: 1;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.box {
    padding: 1.5%;
    font-size: 1.5vw;
    text-align: center, justify;
    text-justify:distribute;
}

.portrait {
    height: 100%;
}

.portrait img {
    object-fit: fill;
}

.card {
    display: block;
    text-decoration: none;
    border: none
}

.card-image {
    border: none
}

.card-image img {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit:cover;
    background-color: #010400;
}

.card-body {
    font-size: 1.75vw;
    padding-top: 2rem;
}

.card:hover {
    opacity: 0.42;
}

.card-body:hover {
    text-decoration: none;
    cursor: pointer;
}

.projects-card {
    display: block;
    text-decoration: none;
    border: none
}

.projects-card-image {
    border: none
}

.projects-card-image img {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit:cover;
    background-color: #010400;
}

.projects-card-body {
    font-size: 1.33vw;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
}

.projects-card:hover {
    opacity: 0.42;
}

.projects-card-body:hover {
    text-decoration: none;
    cursor: pointer;
}

.button-class {
    font-size: 1.25vw;
    font-weight: normal;
    justify-content: center;
    border: 5px;
    border-color: #010400;
    color: #010400;
    background-color: #DBDBDB;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

.button-class:hover {
    font-size: 1.25vw;
    font-weight: bold;
    justify-content: center;
    border: 5px;
    border-color: #010400;
    color: #010400;
    background-color: #DBDBDB;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

.form-group {
    padding-bottom: 1.5%;
}

.project-col {
    text-align: justify;
    width: 5%;
}

.project-box {
    padding: 1.5%;
    font-size: 1.5vw;
    text-align: center, justify;
    text-justify: distribute;
}

#map {
    height: 33vw;
}

